<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <a href="{% url 'read_board' %}">게시판으로</a>

    <form action="{% url 'create_board' %}" method="POST">
        {% csrf_token %}
        <label for="title">title</label>
        <input type="text" id="title" name="title">
        <label for="author">author</label>
        <input type="text" id="author" name="author">
        <label for="content">content</label>
        <textarea id="content" name="content"></textarea>
        <button type="submit">생성</button>
    </form>
</body>
</html>